body {
  
    font-family: 'Segoe UI', sans-serif;
    font-family: 'Arial', sans-serif;
    background-color: #000000 !important;
    
  }


.bagcol {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(226, 0, 255, 0.38), rgb(0, 0, 0));
    background-color: #000000 !important;
}
.sear{
  width: 160px;
}

.searchable.highlight {
    background-color: #fffacc;
    border-bottom: 2px solid #ffc107;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateY(-2px);
  }
  
  .navbar {
      background-color: #000000;
    }
    
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff !important;
    }

    .navbar-nav .nav-link {
      transition: color 0.3s;
      margin: 0px auto;
      padding: 5px 2px;
      border-radius: 2px 20px;
    }
    .navbar-nav .nav-item:hover {
      background: linear-gradient(45deg,#e200ff91, #00e4ffa3);
    }
    .navbar-nav .nav-item {
      padding: 0px;
      border-radius: 2px 20px;
    }
.mr ul li a{
  text-align: center;

}
.mr ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
    .nav-link.active {
      color: rgb(91, 71, 245)!important;
    }

    .navbar-toggler {
      border: none;
    }
.mt-3 .viw {
    background-image: linear-gradient(45deg, #e200ffa8, #00e4ffa1);
    color: #dff10e;
    background-color: #000000 !important;
}
.mt-3 .viw:hover{
  color: #00e4ff;
}
.copy-right{
   background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.border-0 {
    background: linear-gradient(to right, #000000, #e200ff61, #000000);
    background-color: #000000 !important;
}

.col-4.mb-4.footer-about p {
    font-size: 12px;
}
.social-icons.mt-2 a {
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin-right: 5px;
}
.col-4.mb-4.footer-about ul li a {
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
}
.copy-right p{
  font-size: 12px;
    
}
.footer-about{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-nav .dropdown-menu {
  background-image: linear-gradient(45deg, #e200ff, #00e4ff
);
}


footer {
      background: linear-gradient(to right, #000000, #e200ff61, #000000);
      color: #fff;
    }
    footer a {
      color: #fff;
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }
    .social-icons a {
      margin-right: 15px;
      font-size: 1.2rem;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      background-color: #00e4ffa3;
      border-radius: 3px;
      margin-bottom: 5px;
      
    }
    .navbar-toggler-icon:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    /* Custom styling for search bar */
    .search-bar {
      width: 100%;
      max-width: 250px;
      margin-top: 10px;
    }

  .bannerr {
        height: 18vh;
        padding: 20px;
        text-align: center;
        background-color: black;
        padding-top: 37px;
    }

  .mant p {
    font-weight: 600;
    color: white;
    background-image: linear-gradient(45deg, #e200ff91, #00e4ffa3);
    border-radius: 50px 5px 50px 5px;
}

.text-success {
    --bs-text-opacity: 1;
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.con{
  color: #dff10e !important;
}
.con:hover{
  color: #00e4ff !important;
}

.social-icons a {
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.scroll-down{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.abou{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-section {
  text-align: center;
  margin: 60px auto;
  max-width: 1220px;
  padding: 0 20px;
}


.project-section h2 {
  font-size: 32px;
  font-weight: 900;
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.icos{
  justify-content: center;
}

.testimonial-container h3{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 25px;
  margin-bottom: 19px;
}
.testimonial-container{
  text-align: center;
}
.testimonial-container h2{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 700;
  margin-top: -45px;
}
.card-body {
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loc i{
  text-align: center;
}
.loc i:hover {
    background: linear-gradient(45deg,#00e4ff, #e200ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}
.form-label {
    margin-bottom: .5rem;
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mb-3 input{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mb-3 textarea{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.send{
  
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button.send {
    border-radius: 4px 50px;
    border-color: #00e4ff;
    
}
button.send:hover {
    background: linear-gradient(45deg, #e200ff,#00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: #e200ff;
}
button{
  background: linear-gradient(45deg,#00e4ff, #e200ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-control {
    background-image: linear-gradient(45deg, #e200ffb0, #00e4ff9c);
    background-color: black !important;
    color: #ffffff !important;
}
.form-control:focus {
  border-color: #6731e6a1 !important;
  box-shadow: #6731e6 !important;
}
.card-body {
    padding: 2rem;
}




.ico i{
  margin-right: 10px;
  font-size: 40px;
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin: 4px;
}
.ico-add{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  text-align: justify;
}
.ico-add h3{
  margin-bottom: 0px;
  text-align: justify;
}
.ico-add p{
  margin-bottom: 0px;
  text-align: justify;
  font-size: 12px;
  
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}
.lo a{
  text-decoration: none;
}
.lo h3{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 21px;
}


.loca {
    background-image: linear-gradient(45deg, #e200ffa1, #00e4ff5e);
    margin: 10px 0px;
    border-radius: 3px 50px;
    padding: 10px 17px;
}
.loca:hover{
    background-image: linear-gradient(45deg,#00e4ff5e, #e200ffa1);
}
.align-items-center h2{
  text-align: center;
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 40px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    font-size: 12px;
}


.project-section p {
  font-size: 12px;
  font-weight: 600;
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}


.project-content {
    padding: 15px;
}



.project-content a {
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 13px;
}
  

.hobby-title {
      font-weight: 700;
      font-size: 18px;
      text-decoration: underline;
      background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
    }

    
    .hobby-desc {
      font-size: 11px;
      font-weight: 500;
      background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

        .hobby-titley {
      font-weight: 700;
      font-size: 18px;
      text-decoration: underline;
      background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
    }

     .hobby-descy {
      font-size: 12px;
      font-weight: 500;
      background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.show-project a {
    
    text-decoration: none;
    background: linear-gradient(45deg, #e200ff, #00aabe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-project {
    width: 200px;
    margin: 0px auto;
    margin-top: 30px;
    background-image: linear-gradient(45deg, #e200ffa1, #00e4ff5e);
    padding: 10px 20px;
    border-radius: 4px 50px;
}

.show-project:hover {
    background-image: linear-gradient(45deg, #00e4ff5e, #e200ffa1);
    border: 2px solid #dff10e;
}


@media (max-width: 991.98px) {
    .navbar-collapse {
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .navbar-nav {
      flex-direction: row !important;
      gap: 10px;
      justify-content: center;
    
    }
  }

/* Logo image base style */

.er{
  margin-top: -3px;
  justify-content: center !important;
}
.tr{
  margin-left: 0px !important;
}
.banner {
  position: relative;
  background: url('img/Banner/banner.jpg') center center / cover no-repeat;
  height: 60vh;
  background-color: #222; /* fallback color */
}


.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
}

.banner .container {
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-link {
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease;
    font-size: 15px;
  }

@media (max-width: 768px) {
  .banner {
    height: 50vh;
    padding: 20px;
    text-align: center;
  }
  .banner h1 {
    font-size: 2rem;
    margin-top: 32px;
  }
  
.ico-add h3{
  margin-bottom: 0px;
  text-align: justify;
}
.ico-add p{
  margin-bottom: 0px;
  text-align: justify;
  font-size: 12px;
  
}
  .hobby-card {
    width: 180px !important;
}
.project-card {
    width: 180px !important;
}

.hobby-descy {
    font-size: 8px;
}
.col-md-4.mb-4 {
    width: 50%;
}
}

 /* Align search on larger screens */
    @media (min-width: 768px) {
      .search-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .search-bar {
        width: 200px;
      }
      
    }
.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 0;
  
}

.btn:hover {
    background-image: linear-gradient(45deg,#00e4ff, #e200ff);
    border-color: var(--bs-btn-hover-border-color);
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.fw-bold {
    font-weight: 700 !important;
    background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.led{
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list-unstyled {
   background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    border-radius: 50%;       /* Makes it round */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(193, 190, 190, 0.2); /* subtle shadow */
  }
  
  /* On hover, slightly enlarge and glow */
  .navbar-brand:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 188, 212, 0.4);
  }
  
  /* Optional: smaller logo on mobile */
  @media (max-width: 576px) {
    .navbar-brand img {
      height: 40px;
    }
    .navbar-nav .nav-link {
    padding: 5px 4px;
    font-size: 10px;
}

.hobby-desc {
    font-size: 9px;
}
.testimonial-container h3{
  font-size: 18px;
}
.testimonial-container h2{
  font-size: 32px;
}

.ico-add h3 {
    font-size: 20px;
}
.align-items-center h2 {
    font-size: 32px;
}
.ico i {
    font-size: 35px;
}

  }
 
  .navbar {
    background-color: #000000; /* very light pink */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .navbar-brand img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(86, 199, 97, 0.2); /* soft pink glow */
  }
  
  .navbar-brand span {
    color: #333333;
    font-weight: bold;
  }
  
  
  
  .navbar-nav .nav-link:hover{
     background: linear-gradient(45deg,#00e4ff, #e200ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar-nav .nav-link.active {
    color: #dff10e !important; /* dark green from logo */
  }

  .search-bar {
    width: 100%;
    max-width: 250px;
    margin-top: -3px;
}
.banner {
  background-color: #222; /* fallback color */
}







.slider-wrapper {
      overflow: hidden;
      position: relative;
    }

.slider-container {
  width: 100%;
  overflow: hidden;
  background: #000000;
  padding: 30px 0;
}

    .slider-track {
      display: flex;
      width: 1220px;
      gap: 20px;
      animation: scrollSlider 20s linear infinite;
      
    }
.project-track {
      display: flex;
      width: 1220px;
      gap: 20px;
      animation: projectSlider 20s linear infinite;
      
    }

    .slider-track:hover {
    animation-play-state: paused;
}
.project-track:hover {
    animation-play-state: paused;
}
    @keyframes scrollSlider {
      0% { transform: translateX(0); }
      100% { transform: translateX(-100%); }
    }
    @keyframes projectSlider {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

    .hobby-card {
      flex: 0 0 auto;
      width: 250px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 1px 8px rgb(255 0 235);
      overflow: hidden;
      transition: transform 0.3s;
      background: linear-gradient(to right, #000000, #e200ff61, #000000);
    }

    .hobby-card:hover {
      transform: scale(1.03);
    }

    .project-card {
      flex: 0 0 auto;
      width: 250px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 1px 8px rgb(255 0 235);
      overflow: hidden;
      transition: transform 0.3s;
      background: linear-gradient(to right, #000000, #e200ff61, #000000);
    }

    .project-card:hover {
      transform: scale(1.03);
    }
    .hobby-img {
      height: 160px;
      width: 100%;
      object-fit: cover;
    }

    .hobby-content {
      padding: 15px;
       
    }

    


   

.hovi{
  text-align: center;
  margin: 50px;
  font-weight: 800;
  background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

section#projects {
    background-color: black;
}
.hovi h2{
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hovi p{
  font-size: 12px;
  font-weight: 600;
  background: linear-gradient(45deg, #e200ff, #00e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#testimonial {
    background-color: black;
}
section#contact {
    background-color: rgb(0, 0, 0) !important;
}